.anm {
    animation: slide 0.2s linear 1;
}
.homeContainer {
    border: 2px solid black;
    background-color: aliceblue;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space;
    gap: 10px;
}

@keyframes slide {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
